<div class="ui left vertical menu sidebar inverted">
  <div class="container sidebar-menu-items">
    <div class="item">
      <a class="ui logo icon image" href="#">
        <%= image_tag("logo.svg", class: "ui mini image reversed") %>
      </a>
      <div class="bottom aligned content">
        <div class="header">
          audrey
        </div>
      </div>
    </div>
    <div class="item">
      <a class="header">overview</a>
    </div>
    <div class="item">
      <div class="header">clients</div>
      <div class="menu">
        <%= link_to clients_path, class: 'item' do %>
          <i class="users icon"></i>
          list
        <% end %>
        <%= link_to new_client_path, class: 'item' do %>
          <i class="add user icon"></i>
          new client
        <% end %>
      </div>
    </div>
    <div class="item">
      <div class="header">vehicles</div>
      <div class="menu">
        <%= link_to vehicles_path, class: 'item' do %>
          <i class="list icon"></i>
          list all
        <% end %>
        <%= link_to new_vehicle_path, class: 'item' do %>
          <i class="car icon"></i>
          new vehicle
        <% end %>
      </div>
    </div>
    <div class="item">
      <div class="header">policies</div>
      <div class="menu">
        <%= link_to policies_path, class: 'item' do %>
          <i class="folder open icon"></i>
          list all
        <% end %>
        <a class="item">
          <i class="file text icon"></i>
          new policy
        </a>
      </div>
    </div>
  </div>
</div>
