<div class="ui grid container">

  <div class="row">
    <div class="sixteen wide mobile eight wide tablet eight wide computer column">

      <h2 class="ui header">
        <i class="settings icon"></i>
        <div class="content">
          Profile Settings
          <div class="sub header">Manage your preferences</div>
        </div>
      </h2>

      <%= devise_error_messages! %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'ui form' }) do |f| %>

        <div class="field <%= "error" if resource.errors.details.key? :email %>">
          <%= f.label :email %>
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <%= f.email_field :email, autofocus: true %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field <%= "error" if resource.errors.details.key? :password %>">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <div class="ui left icon input">
              <i class="lock icon"></i>
              <% if @minimum_password_length %>
                <%= f.password_field :password, autocomplete: "off", placeholder: "(#{@minimum_password_length} characters minimum)" %>
              <% else %>
                <%= f.password_field :password, autocomplete: "off"%>
              <% end %>
            </div>
        </div>

        <div class="field <%= "error" if resource.errors.details.key? :password_confirmation %>">
          <%= f.label :password_confirmation %>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>

        <div class="field <%= "error" if resource.errors.details.key? :current_password %>">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :current_password, autocomplete: "off" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: 'ui fluid large teal submit button' %>
        </div>

      <% end %>

      <div class="ui divider">
      </div>

      <div class="two ui buttons">
        <button class="ui button">
          <%= link_to "Back", :back %>
        </button>

        <%= button_to  registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'ui negative button' do %>
          <i class="remove user icon"></i>
          Cancel my account
        <% end %>
      </div>

    </div>
  </div>

</div>
