<div class="ui centered raised teal card">
  <div class="content">
    <%= link_to edit_client_path @client do%>
      <div class="ui teal circular basic icon button right floated" data-tooltip="Edit client info" data-inverted="">
        <i class="settings icon"></i>
      </div>
    <% end %>
    <div class="header">
      <%= @client.other_names || "" %> <%= @client.lastname %>
    </div>
    <div class="meta">
      <span>last edited <%= time_ago_in_words @client.updated_at %> ago</span>
    </div>
  </div>

  <div class="content">
    <div class="ui list">
      <div class="item">
        <i class="home icon"></i>
        <div class="content">
          <%= @client.address %>
        </div>
      </div>
      <div class="item">
        <i class="mail icon"></i>
        <div class="content">
          <%= @client.email %>
        </div>
      </div>
      <div class="item">
        <i class="call icon"></i>
        <div class="content">
          <%= @client.telephone %>
        </div>
      </div>
    </div>
  </div>

  <div class="extra content">
    <span class="right floated">
      Created <%= time_ago_in_words(@client.created_at, include_seconds: true) %> ago
    </span>
  </div>
</div>
