<div class="ui grid container">

  <div class="row">
    <div class="sixteen wide mobile eight wide tablet eight wide computer column">

      <div class="ui header">
        <i class="settings icon"></i>
        <div class="content">
          Edit Client
          <div class="sub header">
            Edit client information
          </div>
        </div>
      </div>

      <!-- form -->
      <%= form_for(@client, html: { class: 'ui form' }) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="field">
          <label>Name</label>
          <div class="two fields">

            <div class="field <%= "error" if @client.errors.details.key? :lastname %>">
              <%= f.text_field :lastname, autofocus: true, placeholder: 'lastname' %>
            </div>

            <div class="field <%= "error" if @client.errors.details.key? :other_names %>">
              <%= f.text_field :other_names, autofocus: true, placeholder: 'other names' %>
            </div>

          </div>
        </div>

        <div class="field <%= "error" if @client.errors.details.key? :telephone %>">
          <%= f.label :telephone %>
          <div class="ui left icon input">
            <i class="call icon"></i>
            <%= f.telephone_field :telephone, autofocus: true, placeholder: 'phone #' %>
          </div>
        </div>

        <div class="field <%= "error" if @client.errors.details.key? :email %>">
          <%= f.label :email %>
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <%= f.email_field :email, autofocus: true, placeholder: 'email address' %>
          </div>
        </div>

        <div class="field <%= "error" if @client.errors.details.key? :address %>">
          <%= f.label :address %>
          <%= f.text_area :address, autofocus: true, rows: 2 %>
        </div>

        <div class="actions">
          <div class="two ui buttons">
            <%= link_to 'Cancel', @client, class:'ui button' %>
            <div class="or"></div>
            <%= f.submit "Save changes", class: "ui positive button" %>
          </div>
        </div>

      <% end %>

      <div class="ui divider"></div>

      <div class="ui inverted clearing segment">
        <h5 class="ui red inverted header">
          Delete client
          <div class="sub header">
            This action permanently removes this client from the database.
            You will lose all related client data
          </div>
        </h5>
        <%= link_to @client, method: :delete, data: {confirm: "Are you sure you want to delete this client?"}, class:'ui inverted right floated red basic button' do %>
          <i class="icon trash"></i>
          Delete this client
        <% end %>
      </div>

    </div>
  </div>

</div>
