<div class="ui centered raised teal card">
  <div class="content">
    <%= link_to edit_insurer_path @insurer do %>
      <div class="ui teal circular basic icon button right floated" data-tooltip="Edit policy info" data-inverted="">
        <i class="write icon"></i>
      </div>
    <% end %>
    <div class="header">
      <%= @insurer.name.upcase %>
    </div>
    <div class="meta">
      <%= @insurer.full_legal_name.titleize %>
    </div>
  </div>

  <div class="content">
    <div class="ui list">
      <% if @insurer.address %>
        <div class="item">
          <i class="building icon"></i>
          <div class="content">
            <%= @insurer.address.titleize %>
          </div>
        </div>
      <% end %>
      <% if @insurer.email_address %>
        <div class="item">
          <i class="mail icon"></i>
          <div class="content">
            <%= @insurer.email_address %>
          </div>
        </div>
      <% end %>
      <% if @insurer.phone_number %>
        <div class="item">
          <i class="call icon"></i>
          <div class="content">
            <%= @insurer.phone_number.upcase %>
          </div>
        </div>
      <% end %>
      <% if @insurer.website %>
        <div class="item">
          <i class="world icon"></i>
          <div class="content">
            <%= link_to URI(@insurer.website).host, @insurer.website, target: :_blank %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
