<div class="ui grid container">

  <div class="row">
    <div class="sixteen wide mobile eight wide tablet eight wide computer column">

      <div class="ui header">
        <i class="car icon"></i>
        <div class="content">
          Add Vehicle
          <div class="sub header">
            Add a new vehicle to your portfolio
          </div>
        </div>
      </div>

      <!-- form -->
      <%= form_for(@vehicle, html: { class: 'ui form' }) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="three fields">
          <!-- change to dropdown -->
          <div class="field <%= "error" if @vehicle.errors.details.key? :make %>">
            <%= f.label :make %>
            <%= f.text_field :make, autofocus: true %>
          </div>

          <!-- change to dropdown -->
          <div class="field <%= "error" if @vehicle.errors.details.key? :model %>">
            <%= f.label :model %>
            <%= f.text_field :model, autofocus: true %>
          </div>

          <!-- replace with dropdown -->
          <div class="field <%= "error" if @vehicle.errors.details.key? :year_of_manufacture %>">
            <%= f.label :year_of_manufacture %>
            <%= f.text_field :year_of_manufacture, autofocus: true %>
          </div>
        </div>

        <div class="three fields">
          <!-- change to dropdown -->
          <div class="field <%= "error" if @vehicle.errors.details.key? :body_type %>">
            <%= f.label :body_type %>
            <%= f.text_field :body_type, autofocus: true %>
          </div>

          <!-- change to dropdown -->
          <div class="field <%= "error" if @vehicle.errors.details.key? :seating_capacity %>">
            <%= f.label :seating_capacity %>
            <%= f.text_field :seating_capacity, autofocus: true %>
          </div>

          <!-- change to dropdown -->
          <div class="field <%= "error" if @vehicle.errors.details.key? :cubic_capacity %>">
            <%= f.label :cubic_capacity %>
            <%= f.text_field :cubic_capacity, autofocus: true %>
          </div>
        </div>

        <div class="fields">
          <div class="six wide field">
            <div class="field <%= "error" if @vehicle.errors.details.key? :registration_no %>">
              <%= f.label :registration_no %>
              <%= f.text_field :registration_no, autofocus: true %>
            </div>
          </div>

          <div class="ten wide field">
            <div class="field <%= "error" if @vehicle.errors.details.key? :chassis_no %>">
              <%= f.label :chassis_no %>
              <%= f.text_field :chassis_no, autofocus: true %>
            </div>
          </div>
        </div>

        <!-- change to dropdown -->
        <div class="field <%= "error" if @vehicle.errors.details.key? :cubic_capacity %>">
          <%= f.label :client %>
          <%= f.text_field :client, autofocus: true %>
        </div>

        <div class="actions">
          <%= f.submit "Add Vehicle", class: "ui fluid large teal submit button" %>
        </div>
      <% end %>

    </div>
  </div>

</div>
